In [126]:
'life is too short'

'life is too short'

In [127]:
'Python'

'Python'

In [128]:
'a'

'a'

In [129]:
'123'

'123'

In [130]:
a = 'Python'

In [131]:
b = "Python"

In [132]:
hello = 'Hello, world!'

In [133]:
hello

'Hello, world!'

In [134]:
hello = '안녕하세요'

In [135]:
hello

'안녕하세요'

In [136]:
hello = "Hello, world!"

In [137]:
hello

'Hello, world!'

In [138]:
hello = '''Hello, Python!'''

In [139]:
hello

'Hello, Python!'

In [140]:
python = """Python Programming"""

In [141]:
python

'Python Programming'

In [142]:
hello = '''Hello, world!
안녕하세요.
Python입니다.'''

In [143]:
print(hello)

Hello, world!
안녕하세요.
Python입니다.

In [144]:
s = "Python isn't difficult"

In [145]:
s

"Python isn't difficult"

In [146]:
s = 'He said "Python is easy"'

In [147]:
s

'He said "Python is easy"'

In [148]:
s = 'Pytohn isn't difficult'

SyntaxError: unterminated string literal (detected at line 1) (1499594333.py, line 1)

In [149]:
s = "He said "Python is easy""

SyntaxError: invalid syntax (301148960.py, line 1)

In [150]:
single_quote = '''"안녕하세요."
'파이썬'입니다.'''

In [168]:
double_quote1 = """"Hello"
'Python'"""

In [169]:
double_quote2 = """Hello, 'Python'"""

In [170]:
print(single_quote)

"안녕하세요."
'파이썬'입니다.

In [171]:
print(double_quote1)

"Hello"
'Python'

In [172]:
print(double_quote2)

Hello, 'Python'

In [173]:
'Python isn\'t difficult'

"Python isn't difficult"

In [174]:
print('Hello\nPython')

Hello
Python

In [175]:
'''Hello
Python'''

'Hello\nPython'

In [176]:
a = 'python'

In [177]:
b = '1234'

In [178]:
A = 'Python'
B = 'Program'

C = A + B
D = A * 3

In [179]:
C

'PythonProgram'

In [180]:
D

'PythonPythonPython'

In [182]:
a = 'python'
b = '1234'

In [183]:
a + b

'python1234'

In [184]:
b + b

'12341234'

In [185]:
b * 2

'12341234'

In [188]:
b * 2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [189]:
A = 'Python'

In [190]:
A[1]

'y'

In [191]:
A[0]

'P'

In [192]:
a = 'python'

In [193]:
a[2]

't'

In [195]:
a[4]

'o'

In [196]:
a = 'python program'

In [197]:
a[0:6]

'python'

In [201]:
a[7:14]

'program'

In [202]:
a = 'python program'

In [203]:
a[:6]

'python'

In [204]:
a[7:]

'program'

In [206]:
a[:]

'python program'

In [207]:
a = 'python program'

In [209]:
b = a[:6]
c = a[7:]

In [210]:
b, c

('python', 'program')

In [213]:
a = 'b+c = {}'
b = 3
c = 2
a = a.format(b + c)

In [214]:
a

'b+c = 5'

In [215]:
a = 'b+c = {}, b*c = {}'
b = 3
c = 2
a = a.format(b + c, b * c)

In [216]:
a

'b+c = 5, b*c = 6'

In [218]:
a = 'life is too short'
b, c, d, e = 'life', 'is', 'too', 'short'

a.split()

['life', 'is', 'too', 'short']

In [219]:
b, c, d, e

('life', 'is', 'too', 'short')

In [222]:
text = 'abcABC123'
text1 = 'abc'
text2 = 'ABC'
text3 = '123'
text4 = 'ABCabc'

In [223]:
print(text.isalpha())
print(text.isdigit())
print(text.isalnum())
print(text.isupper())
print(text.islower())

False
False
True
False
False

In [ ]:
text = 'abcd {} {} {}'
print(text.fomrat('efg', 1, -1))

text = text.format()