In [2]:
a = [38, 21, 53, 62, 19]

In [3]:
a

[38, 21, 53, 62, 19]

In [4]:
person =['james', 17, 175.3, True]

In [5]:
person

['james', 17, 175.3, True]

In [6]:
a = []

In [7]:
a

[]

In [8]:
b = list()

In [9]:
b

[]

In [10]:
range(10)

range(0, 10)

In [12]:
a = list(range(10))

In [13]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
b = list(range(5, 12))

In [15]:
b

[5, 6, 7, 8, 9, 10, 11]

In [16]:
c = list(range(-4, 10, 2))

In [17]:
c

[-4, -2, 0, 2, 4, 6, 8]

In [18]:
d = list(range(10, 0, -1))

In [19]:
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
A = ['a', 'b', 'c', 'd']

In [21]:
A[2]

'c'

In [22]:
A[0]

'a'

In [23]:
a = ['1', '2', '3', '4']

In [24]:
a[0]

'1'

In [25]:
a[3]

'4'

In [26]:
a[2] + a[3]

'34'

In [27]:
b = [1, 2, 3, 4]

In [28]:
b[2] + b[3]

7

In [29]:
A[1:3]

['b', 'c']

In [30]:
a = ['1', '2', '3', '4']

In [31]:
a[:3]

['1', '2', '3']

In [34]:
A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

C = A + B
D = A * 2

In [35]:
C

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
D

[1, 2, 3, 4, 1, 2, 3, 4]

In [37]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
print(c[1:5])
d = a * 3

[2, 3, 4, 5]

In [38]:
d

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
A = [1, 2, 3, 4]

In [40]:
A.index(3)

2

In [41]:
A.index(4)

3

In [42]:
A[1] = 5

In [43]:
A

[1, 5, 3, 4]

In [44]:
a = [1, 2, 3, 4, 5]

In [46]:
idx3 = a.index(3)

In [47]:
a[idx3] = 30

In [48]:
a

[1, 2, 30, 4, 5]

In [49]:
A = [1, 2, 3, 4]
A.append(5)

In [50]:
A

[1, 2, 3, 4, 5]

In [51]:
A = []

In [52]:
A.append(1)

In [53]:
A

[1]

In [54]:

A.append(2)

In [55]:
A

[1, 2]

In [56]:

A.append('a')

In [57]:
A

[1, 2, 'a']

In [60]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
c.append(7)

In [61]:
c

[1, 2, 3, 4, 5, 6, 7]

In [63]:
A = [1, 4, 3, 2]
A.sort()

In [64]:
A

[1, 2, 3, 4]

In [65]:
B = [1, 4, 3, 2]
B.sort(reverse=True)

In [66]:
B

[4, 3, 2, 1]

In [67]:
a = ['b', 'c', 'a']

In [68]:
a.sort()

In [69]:
a

['a', 'b', 'c']

In [70]:
a.sort(reverse=True)

In [71]:
a

['c', 'b', 'a']

In [72]:
A = [1, 4, 3, 2]

In [73]:
len(A)

4

In [74]:
a = [1, 2, 3]
b = [4, 5, 6]

In [75]:
len(a)

3

In [76]:
c = a + b

In [77]:
len(c)

6

In [78]:
d = a * 6

In [79]:
len(d)

18

In [80]:
a = (38, 21, 53 ,62, 19)

In [81]:
a

(38, 21, 53, 62, 19)

In [82]:
a = 38, 21, 53, 62, 19

In [83]:
a

(38, 21, 53, 62, 19)

In [84]:
(38)

38

In [85]:
(38, )

(38,)

In [86]:
38,

(38,)

In [87]:
a = tuple(range(10))

In [88]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [89]:
b = tuple(range(5, 12))

In [90]:
b

(5, 6, 7, 8, 9, 10, 11)

In [91]:
c = tuple(range(-4, 10, 2))

In [92]:
c

(-4, -2, 0, 2, 4, 6, 8)

In [94]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [95]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [96]:
t = (1, 2, 3, 4)
print(len(t))

4

In [97]:
numbers = (1, 2, 3, 4, 5)
print(sum(numbers))

15

In [99]:
numbers = (10, 2, 3, 40, 5)
print(min(numbers))
print(max(numbers))

2
40

In [100]:
t = (3, 1, 2)
sorted_list = sorted(t)
print(sorted_list)

[1, 2, 3]

In [101]:
t1 = (1, 0, 3)
t2 = (1, 2, 3)

print(any(t1))
print(all(t1))
print(all(t2))

True
False
True

In [103]:
t = (1, 2, 3, 4)
rev = reversed(t)
print(tuple(rev))

(4, 3, 2, 1)

In [104]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [105]:
t = (1, 2, 3, 2, 4)
print(t.index(2))

1

In [106]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [108]:
t = (1, 2, 3, 2, 4)
print(t.index(2))

1

In [110]:
numbers = (1, 2, 3)
letters = ("a", "b", "c")
zipped = zip(numbers, letters)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [111]:
t = ("apple", "banana", "cherry")
for index, value in enumerate(t):
    print(index, value)

0 apple
1 banana
2 cherry

In [112]:
a = input('문자들을 입력하세요').split()

In [113]:
print(a)

['python', 'program']

In [116]:
a = list(map(int, input('숫자입력:').split()))

In [117]:
print(a)

[1, 2, 3, 4]

In [118]:
print(a[0] + a[1] + a[2] + a[3])

10

In [119]:
print(sum(a))

10

### 실습 1.1

In [123]:
a, b, c, d, e = map(int, input().split)

In [124]:
a, b, c, d, e

(1, 2, 3, 4, 5)

### 실습 1.2

In [ ]:
# ???

### 실습 1.3

In [ ]:
print("A의 최대값은 {}이고, 최소값은 {}이다.".format(max(A), min(A)))

### 실습 1.4

In [ ]:
B = sum(A)

### 실습 1.5

In [ ]:
import math
print("B의 반올림은 {}이고 올림은 {}이고 내림은 {}이다.".format(round(B), math.ceil(B), math.floor(B)))