In [106]:
a = [38, 21, 53, 62, 19]

In [107]:
a

[38, 21, 53, 62, 19]

In [108]:
person =['james', 17, 175.3, True]

In [109]:
person

['james', 17, 175.3, True]

In [110]:
a = []

In [111]:
a

[]

In [112]:
b = list()

In [113]:
b

[]

In [114]:
range(10)

range(0, 10)

In [115]:
a = list(range(10))

In [116]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
b = list(range(5, 12))

In [118]:
b

[5, 6, 7, 8, 9, 10, 11]

In [119]:
c = list(range(-4, 10, 2))

In [120]:
c

[-4, -2, 0, 2, 4, 6, 8]

In [121]:
d = list(range(10, 0, -1))

In [122]:
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [123]:
A = ['a', 'b', 'c', 'd']

In [124]:
A[2]

'c'

In [125]:
A[0]

'a'

In [126]:
a = ['1', '2', '3', '4']

In [127]:
a[0]

'1'

In [128]:
a[3]

'4'

In [129]:
a[2] + a[3]

'34'

In [130]:
b = [1, 2, 3, 4]

In [131]:
b[2] + b[3]

7

In [132]:
A[1:3]

['b', 'c']

In [133]:
a = ['1', '2', '3', '4']

In [134]:
a[:3]

['1', '2', '3']

In [135]:
A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

C = A + B
D = A * 2

In [136]:
C

[1, 2, 3, 4, 5, 6, 7, 8]

In [137]:
D

[1, 2, 3, 4, 1, 2, 3, 4]

In [138]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
print(c[1:5])
d = a * 3

[2, 3, 4, 5]

In [139]:
d

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [140]:
A = [1, 2, 3, 4]

In [141]:
A.index(3)

2

In [142]:
A.index(4)

3

In [143]:
A[1] = 5

In [144]:
A

[1, 5, 3, 4]

In [145]:
a = [1, 2, 3, 4, 5]

In [146]:
idx3 = a.index(3)

In [147]:
a[idx3] = 30

In [148]:
a

[1, 2, 30, 4, 5]

In [149]:
A = [1, 2, 3, 4]
A.append(5)

In [150]:
A

[1, 2, 3, 4, 5]

In [151]:
A = []

In [152]:
A.append(1)

In [153]:
A

[1]

In [154]:

A.append(2)

In [155]:
A

[1, 2]

In [156]:

A.append('a')

In [157]:
A

[1, 2, 'a']

In [158]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
c.append(7)

In [159]:
c

[1, 2, 3, 4, 5, 6, 7]

In [160]:
A = [1, 4, 3, 2]
A.sort()

In [161]:
A

[1, 2, 3, 4]

In [162]:
B = [1, 4, 3, 2]
B.sort(reverse=True)

In [163]:
B

[4, 3, 2, 1]

In [164]:
a = ['b', 'c', 'a']

In [165]:
a.sort()

In [166]:
a

['a', 'b', 'c']

In [167]:
a.sort(reverse=True)

In [168]:
a

['c', 'b', 'a']

In [169]:
A = [1, 4, 3, 2]

In [170]:
len(A)

4

In [171]:
a = [1, 2, 3]
b = [4, 5, 6]

In [172]:
len(a)

3

In [173]:
c = a + b

In [174]:
len(c)

6

In [175]:
d = a * 6

In [176]:
len(d)

18

In [177]:
a = (38, 21, 53 ,62, 19)

In [178]:
a

(38, 21, 53, 62, 19)

In [179]:
a = 38, 21, 53, 62, 19

In [180]:
a

(38, 21, 53, 62, 19)

In [181]:
(38)

38

In [182]:
(38, )

(38,)

In [183]:
38,

(38,)

In [184]:
a = tuple(range(10))

In [185]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [186]:
b = tuple(range(5, 12))

In [187]:
b

(5, 6, 7, 8, 9, 10, 11)

In [188]:
c = tuple(range(-4, 10, 2))

In [189]:
c

(-4, -2, 0, 2, 4, 6, 8)

In [190]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [191]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [192]:
t = (1, 2, 3, 4)
print(len(t))

4

In [193]:
numbers = (1, 2, 3, 4, 5)
print(sum(numbers))

15

In [194]:
numbers = (10, 2, 3, 40, 5)
print(min(numbers))
print(max(numbers))

2
40

In [195]:
t = (3, 1, 2)
sorted_list = sorted(t)
print(sorted_list)

[1, 2, 3]

In [196]:
t1 = (1, 0, 3)
t2 = (1, 2, 3)

print(any(t1))
print(all(t1))
print(all(t2))

True
False
True

In [197]:
t = (1, 2, 3, 4)
rev = reversed(t)
print(tuple(rev))

(4, 3, 2, 1)

In [198]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [199]:
t = (1, 2, 3, 2, 4)
print(t.index(2))

1

In [200]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [201]:
t = (1, 2, 3, 2, 4)
print(t.index(2))

1

In [202]:
numbers = (1, 2, 3)
letters = ("a", "b", "c")
zipped = zip(numbers, letters)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [203]:
t = ("apple", "banana", "cherry")
for index, value in enumerate(t):
    print(index, value)

0 apple
1 banana
2 cherry

In [204]:
a = input('문자들을 입력하세요').split()

In [205]:
print(a)

['a', 'b', 'c', 'd']

In [206]:
a = list(map(int, input('숫자입력:').split()))

In [207]:
print(a)

[1, 2, 3, 4]

In [208]:
print(a[0] + a[1] + a[2] + a[3])

10

In [209]:
print(sum(a))

10

### 실습 1.1

In [ ]:
a, b, c, d, e = map(int, input().split())

In [211]:
a, b, c, d, e

(1, 2, 3, 4, 5)

### 실습 1.2

In [212]:
A = [a / b, b * c, c + d, b ^ c, round(e / b)]

### 실습 1.3

In [213]:
print("A의 최대값은 {}이고, 최소값은 {}이다.".format(max(A), min(A)))

A의 최대값은 7이고, 최소값은 0.5이다.

### 실습 1.4

In [214]:
B = sum(A)

### 실습 1.5

In [215]:
import math
print("B의 반올림은 {}이고 올림은 {}이고 내림은 {}이다.".format(round(B), math.ceil(B), math.floor(B)))

B의 반올림은 16이고 올림은 17이고 내림은 16이다.