## 예제 : python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장

In [1]:
tu1 = ("p", "y", "t", "h", "o", "n")

## 예제 : python 의 각 문자를 문자열로
- 튜플 (변수명 tu1) 로 저장
- 리스트 (변수명 li1) 로 저장
- del tu1[0] 해보기  → 결과?
- del li1[0] 해보기   → 결과?
- tu1[0] = ‘P’ 해보기  → 결과?
- li1[0] = ‘P’ 해보기   → 결과?

In [3]:
tu1 = ("p", "y", "t", "h", "o", "n")
li1 = ["p", "y", "t", "h", "o", "n"]

In [5]:
del tu1[0]

TypeError: 'tuple' object doesn't support item deletion

In [4]:
del li1[0]

In [6]:
tu1[0] = "P"

TypeError: 'tuple' object does not support item assignment

In [7]:
li1[0] = "P"

## 예제 : python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장
- tu1[0] 출력 결과 확인하기  → 결과 ??
- tu1[3] 출력 결과 확인하기  → 결과 ??
- tu1[-1] 출력 결과 확인하기  → 결과 ??

In [8]:
tu1 = ("p", "y", "t", "h", "o", "n")

In [9]:
print(tu1[0])

p

In [10]:
print(tu1[3])

h

In [11]:
print(tu1[-1])

n

## 예제 : python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장
- tu1[0:2] 출력 결과 확인하기  → 결과 ??
- tu1[3:] 출력 결과 확인하기  → 결과 ??
- tu1[:4] 출력 결과 확인하기  → 결과 ??

In [12]:
tu1 = ("p", "y", "t", "h", "o", "n")

In [13]:
print(tu1[0:2])

('p', 'y')

In [14]:
print(tu1[3:])

('h', 'o', 'n')

In [15]:
print(tu1[:4])

('p', 'y', 't', 'h')

## 예제 : 
- python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장
- program 의 각 문자를 문자열로 튜플 (변수명 tu2) 로 저장
- tu1 + tu2 출력 결과 확인하기 → 결과??
- tu1 * 3 출력 결과 확인하기  → 결과 ??
- tu1[0] + tu2[1] 출력 결과 확인하기  → 결과 ??

In [16]:
tu1 = ("p", "y", "t", "h", "o", "n")
tu2 = ("p", "r", "o", "g", "r", "a", "m")

In [17]:
print(tu1 + tu2)

('p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm')

In [18]:
print(tu1 * 3)

('p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n')

In [19]:
print(tu1[0] + tu2[1])

pr

## 예제 : 
- 1,2,3,4 의 각 숫자를 숫자형으로 튜플 (변수명 tu3) 로 저장
- 5,6,7,8 의 각 숫자를 숫자형으로 튜플 (변수명 tu4) 로 저장
- tu1 + tu2 출력 결과 확인하기 → 결과??
- tu1 * 3 출력 결과 확인하기  → 결과 ??
- tu1[0] + tu2[1] 출력 결과 확인하기  → 결과 ??

In [20]:
tu3 = (1, 2, 3, 4)
tu4 = (5, 6, 7, 8)

In [23]:
print(tu3 + tu4)

(1, 2, 3, 4, 5, 6, 7, 8)

In [24]:
print(tu3 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [25]:
print(tu3[0] + tu4[1])

7

## 예제 : 
- python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장
- program 의 각 문자를 문자열로 튜플 (변수명 tu2) 로 저장
1. tu1 + tu2 출력 결과를 tu3에 저장하기
2. tu1에서 ‘p’의 위치 찾기
3. tu3에서 ‘p’의 위치 찾기
4. tu3[1:]에서 ‘p’의 위치 찾기
5. tu3 에서 ‘z’의 위치 찾기
6. ‘a’가 tu3에 있는지 판별하기
7. ‘b’가 tu3에 있는지 판별하기

In [26]:
tu1 = ("p", "y", "t", "h", "o", "n")
tu2 = ("p", "r", "o", "g", "r", "a", "m")

In [27]:
tu3 = tu1 + tu2

In [28]:
print(tu1.index("p"))

0

In [29]:
print(tu3.index("p"))

0

In [30]:
print(tu3[1:].index("p"))

5

In [31]:
tu3.index("z")

ValueError: tuple.index(x): x not in tuple

In [34]:
print("a" in tu3)

True

In [35]:
print("b" in tu3)

False

## 예제 : 
- python 의 각 문자를 문자열로 튜플 (변수명 tu1) 로 저장
- program 의 각 문자를 문자열로 튜플 (변수명 tu2) 로 저장
1. tu1 + tu2 출력 결과를 tu3에 저장하기
2. tu1, tu2, tu3의 전체 요소 수 구하기
3. tu1, tu2, tu3에서 ‘p’의 개수 구하기

In [43]:
tu1 = ("p", "y", "t", "h", "o", "n")
tu2 = ("p", "r", "o", "g", "r", "a", "m")

In [44]:
tu3 = tu1 + tu2

In [45]:
print(len(tu1))
print(len(tu2))
print(len(tu3))

6
7
13

In [46]:
print(tu1.count("p"))
print(tu2.count("p"))
print(tu3.count("p"))

1
1
2

## 예제 :
- 숫자 1, 2를 num 이라는 튜플에 저장
- a, b = num 을 한 후 a와 b의 결과 확인
- a와 b값을 교환하기 위해서 
b = a
 a = b
라고 입력해서 실행한 후 a 와 b의 값 확인
- a와 b값을 교환하기 위해서 
a, b = num
 c = a
 a = b
 b = c
라고 입력해서 실행한 후 a 와 b의 값 확인
- a와 b값을 교환하기 위해서 
(a, b) = (b, a)
라고 입력해서 실행한 후 a와 b의 값 확인

In [47]:
num = (1, 2)

In [48]:
a, b = num

In [49]:
print(a)
print(b)

1
2

In [50]:
b = a
a = b

In [51]:
print(a)
print(b)

1
1

In [52]:
a, b = num
c = a
a = b
b = c

In [53]:
print(a)
print(b)

2
1

In [54]:
(a, b) = (b, a)

In [56]:
print(a)
print(b)

1
2

## 예제 : 
1.1. ‘python program’ 이라는 문자열 (변수명 str1) 으로 저장

1.2. 문자열 str1 을 세트 (변수명 se1) 로 저장

→str1과 se1 비교

2.1. 1, 2, 3, 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장

2.2. 리스트 li1를 세트 (변수명 se2) 로 저장

→li1과 se2 비교

In [74]:
str1 = "python program"
se1 = set(str1)

In [75]:
print(str1)
print(se1)

python program
{' ', 'n', 'r', 'o', 'g', 't', 'y', 'a', 'm', 'h', 'p'}

In [63]:
li1 = [1, 2, 3, 1, 2, 3]
se2 = set(li1)

In [64]:
print(li1)
print(se2)

[1, 2, 3, 1, 2, 3]
{1, 2, 3}

## 예제 : 
- 1, 2, 3, 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장
- 리스트 li1를 세트 (변수명 se2) 로 저장

1.1. se2[0] 시도 → 결과??

1.2. 세트 se2를 리스트 (변수명 li2)로 변환
→li1과 li2 비교

1.3. li2[0] 시도 → 결과??

In [65]:
li1 = [1, 2, 3, 1, 2, 3]

In [66]:
se2 = set(li1)

In [68]:
print(se2[0])

TypeError: 'set' object is not subscriptable

In [69]:
li2 = list(se2)

In [70]:
print(se2)
print(li2)

{1, 2, 3}
[1, 2, 3]

In [71]:
print(li2[0])

1

## 예제 : 
- 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장
- 리스트 li1를 세트 (변수명 se1) 로 저장
- 3, 4, 5을 숫자형으로 리스트 (변수명 li2) 로 저장
- 리스트 li2를 세트 (변수명 se2) 로 저장
1. 세트 se1과 se2의 합집합 구하기 : {1,2,3,4,5}

 →se1 + se2 시도 : 결과 ??

 2. 세트 se1과 se2의 교집합 구하기 : {3}

 3. 세트 se1과 se2의 차집합 구하기 : {1,2}

In [76]:
li1 = [1, 2, 3]
se1 = set(li1)
li2 = [3, 4, 5]
se2 = set(li2)

In [78]:
print(se1 | se2)

{1, 2, 3, 4, 5}

In [79]:
print(se1 + se2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [80]:
print(se1 & se2)

{3}

In [81]:
print(se1 - se2)

{1, 2}

## 예제 :
- 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장
- 리스트 li1를 세트 (변수명 se1) 로 저장
1. 세트 se1에 숫자 4 추가하기
2. 세트 se1에 숫자 3 추가하기
3. 세트 se1에 문자열 'a’ 추가하기

In [82]:
li1 = [1, 2, 3]
se1 = set(li1)

In [83]:
se1.add(4)

In [84]:
se1.add(3)

In [85]:
se1.add('a')

In [87]:
print(se1)

{1, 2, 3}

## 예제 :
- 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장
- 리스트 li1를 세트 (변수명 se1) 로 저장
- 3, 4, 5을 숫자형으로 리스트 (변수명 li2) 로 저장
- 리스트 li2를 세트 (변수명 se2) 로 저장

1.1. 세트 se1과 se2의 합집합을 se3에 저장

1.2. 세트 se1과 se2 합친 결과 (update)를 se4에 저장 

→se3와 se4 비교

2.1. 세트 se1과 li2 합친 결과 (update)를 se5에 저장

→se4와 se5 비교

In [99]:
li1 = [1, 2, 3]
se1 = set(li1)
li2 = [3, 4, 5]
se2 = set(li2)

In [100]:
se3 = se1 | se2

In [101]:
se4 = se1
se4.update(se2)

In [102]:
print(se3)
print(se4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [103]:
se5 = se1
se5.update(li2)

In [104]:
print(se4)
print(se5)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

## 예제 :
- 1, 2, 3을 숫자형으로 리스트 (변수명 li1) 로 저장
- 리스트 li1를 세트 (변수명 se1) 로 저장
- 3, 4, 5을 숫자형으로 리스트 (변수명 li2) 로 저장
- 리스트 li2를 세트 (변수명 se2) 로 저장

1.1. 세트 se1과 se2의 합집합을 se3에 저장

1.2. 세트 se1과 se2의 교집합을 se4에 저장

1.3. 세트 se3에서 se4 데이터 제거 → 결과?

 1.4. 세트 se4를 리스트 (변수명 li3)로 변환

1.5. 세트 se3에서 li3 데이터 제거 → 결과? 

1.6. 세트 se3에서 li3[0] 데이터 제거 → 결과?

In [105]:
li1 = [1, 2, 3]
se1 = set(li1)
li2 = [3, 4, 5]
se2 = set(li2)

In [106]:
se3 = se1 | se2

In [107]:
se4 = se1 & se2

In [108]:
se3.remove(se4)

KeyError: {3}

In [109]:
li3 = list(se4)

In [110]:
se3.remove(li3)

TypeError: unhashable type: 'list'

In [111]:
se3.remove(li3[0])

In [112]:
print(se3)

{1, 2, 4, 5}